/* STYLESHEET */
body{
	font-family: "Open Sans", Arial;
	overflow: hidden;
}
#wrapper {
}
#poem_content {
	display: block;
	width: 240px;
	padding: 20px;
	height: 1000px;
	float: left;
	background-color: #eeeeee;
}
#poem_content h1{
	color: #999999;
	font-family: "Nunito";
	font-size: 2em;
}
#poem_content h2{
	color: #aaaaaa;
	font-family: "Nunito";
	font-size: 1.5em;
}
#main_content{
	left: 280px;
	float: left;
	position: fixed;
}
#canvas{
	display: block;
	float: left;
	margin: 20px;
	width: 520px;
	height: 380px;
	border: 1px solid #dddddd;
}
#picker{
	border-top: #eeeeee solid 1px;
	display: block;
	float: left;
	background-color: #f9f9f9;
	padding: 10px;
	clear: both;
	width: 2000px;
	height: 400px;
	color: #444444;
	font-size: 0.9em;
}
#picker h1{
	/* border-bottom: 1px solid #cccccc; */
	padding-bottom: 8px;
	font-size: 1.3em;
	color: #777777;
	margin-bottom: 6px;
}
p{
	color: #444444;
	font-size: 0.9em;
	margin-top: 15px;
	line-height: 1.3em;
}
.circle_logo_1 {
	display: inline-block;
	position: relative;
	top: -2px;
	left: 6px;
	width: 14px;
	height: 14px;
	background: #10e138;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}
.circle_logo_2 {
	display: inline-block;
	position: relative;
	top: -16px;
	left: 8px;
	width: 10px;
	height: 10px;
	background: #ffa000;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.circle {
	display: inline-block;
	position: relative;
	top: 10px;
	left: 10px;
	width: 40px;
	height: 40px;
	-moz-border-radius: 1000px;
	-webkit-border-radius: 1000px;
	border: solid 3px #ffffff;
	-webkit-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.2);
}
.c0 {
	background-color: #f8f8f8;
}
.c1 {
	background: #554277;
}
.c2 {
	background: #83c0d7;
}
.c3 {
	background: #70e165;
}
.c4 {
	background: #e64a22;
}
.c5 {
	background: #ffa000;
}
.c6 {
	background: #ffb0df;
}